.hero {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 800px;
}

.travel-slogan {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}